@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Bold.woff") format("woff"), url("../fonts/Lora-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

header {
  margin-bottom: 40px;
}

.block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu {
  margin-bottom: 50px;
}

.menu__logo {
  margin-right: 15px;
  position: relative;
  z-index: 5;
  padding-right: 75px;
}

.menu__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 562px;
          flex: 0 1 562px;
}

.menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu__item {
  margin-right: 30px;
}

.menu__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #222831;
}

.menu__user {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FF5722;
  padding: 12px 24px;
  background-color: #FFFFFF;
}

.menu__btn:hover {
  color: #FFFFFF;
  background-color: #FF5722;
}

.icon-menu {
  display: none;
}

.footer {
  background: #0D2C4A;
}

.footer__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
  color: #fff;
}

.footer__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #F8F8F8;
  opacity: 0.85;
  margin-bottom: 24px;
}

.footer__icons {
  width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 730px;
          flex: 0 1 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 86px;
  padding-bottom: 102px;
}

.column__name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 24px;
}

.column__item {
  margin-bottom: 9px;
}

.column__item:last-child {
  margin-bottom: 0px;
}

.column__item a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block-content {
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0px auto;
}

.intro {
  margin-top: 100px;
}

.intro__header {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
  margin-bottom: 8px;
}

.intro__header span {
  position: absolute;
  top: 25px;
  left: 120px;
  display: inline-block;
  min-height: 2px;
  width: 73px;
  border: 1px solid #222831;
  margin-top: -10px;
  background-color: #222831;
}

.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__text__big {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.intro__text__small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 382px;
          flex: 0 1 382px;
}

.intro__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px;
  color: #10375C;
}

.intro__title-red {
  color: red;
}

.intro__sub-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #6A6A6A;
}

.block-spaces {
  margin: 50px auto;
}

.spaces__header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 56px;
}

.spaces__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
  margin-right: 164px;
}

.spaces__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 452px;
          flex: 0 1 452px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #9A9A9A;
}

.spaces__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.spaces__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -30px;
}

.spaces__pict {
  max-width: 100%;
}

.spaces__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 30px;
}

.spaces__column_mdl {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #10375C;
}

.spaces__foto {
  position: relative;
  margin-bottom: 25px;
}

.spaces__label {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222831;
}

.spaces__arrow {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.mdl__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}

.mdl__sub-title {
  width: 253px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.mdl__arrow {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.mdl__lines {
  position: absolute;
  top: 15px;
  right: 15px;
}

.block-whyfrispes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whyfrispes__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
  padding: 30px 0px;
  margin-right: 70px;
}

.whyfrispes__right {
  padding: 53px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
  background: #10375C;
}

.whyfrispes__sub-title {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.whyfrispes__sub-title span {
  position: absolute;
  top: 25px;
  left: 120px;
  display: inline-block;
  min-height: 2px;
  width: 73px;
  border: 1px solid white;
  margin-top: -10px;
  background-color: #FFFFFF;
}

.whyfrispes__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.whyfrispes__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.whyfrispes__left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}

.whyfrispes__left-row:last-child {
  margin-bottom: 0px;
}

.whyfrispes__left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 171px;
          flex: 0 0 171px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.item-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 204px;
          flex: 0 1 204px;
}

.left__item-icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 24px;
}

.left__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__count {
  margin-bottom: 8px;
}

.info__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}

.block-news {
  padding-top: 60px;
  padding-bottom: 76px;
  background: #F8F8F8;
}

.news__header {
  margin-bottom: 56px;
}

.news__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
}

.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0  -15px;
}

.news__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background-color: #F8F8F8;
  padding: 0 15px;
  margin-bottom: 30px;
}

.news__foto {
  min-width: 350px;
  min-height: 320px;
}

.news__foto img {
  max-width: 100%;
}

.news__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px;
  background-color: #FFFFFF;
}

.news__name {
  font-family: "Lora";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
  margin-bottom: 24px;
}

.news__sub-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
  margin-bottom: 16px;
}

.news__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__item {
  background-color: #FFFFFF;
  height: 100%;
}

.news__infor {
  padding: 16px;
}

.news__label {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
  margin-bottom: 4px;
  padding: 0px 15px;
}

.news__writer {
  padding: 0px 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}

.news__items-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8F8F8;
  padding: 0 15px;
  margin-bottom: 30px;
}

.items-big__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}

.author__foto {
  margin-right: 23px;
}

.author__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.author__name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #10375C;
}

.author__prof {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}

.news__icon img {
  width: 100%;
}

@media (max-width: 1130px) {
  .menu__logo {
    padding-right: 55px;
  }

  .menu__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 490px;
            flex: 0 1 490px;
  }

  .menu__item {
    margin-right: 15px;
  }

  .block-content {
    max-width: 950px;
  }

  .intro__title {
    font-size: 42px;
  }

  .intro__sub-title {
    text-indent: 15px;
  }

  .spaces__body {
    overflow-x: auto;
  }

  .spaces__row {
    overflow-x: auto;
  }

  .whyfrispes__left {
    margin-right: 30px;
  }

  .whyfrispes__right {
    padding: 42px;
  }

  .whyfrispes__left-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 428px;
            flex: 1 1 428px;
  }

  .news__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  ._no-webp .news__foto {
    background: url(../img/news/1.png) center/100% no-repeat; }

  .news__foto {
    min-width: 445px;
  }

  .news__foto img {
    max-width: 0%;
  }

  .news__items-big {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 992px) {
  .menu__logo {
    padding-right: 15px;
    margin-right: 0px;
  }

  .menu__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 445px;
            flex: 0 1 445px;
  }

  .menu__btn {
    padding: 12px 15px;
  }

  .block-content {
    max-width: 750px;
  }

  .intro__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .intro__text__big {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__text__small {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__title {
    line-height: 56px;
  }

  .spaces__title {
    margin-right: 50px;
  }

  .spaces__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .spaces__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px;
  }

  .spaces__row:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .spaces__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .spaces__column_mdl {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .block-whyfrispes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -25px;
  }

  .whyfrispes__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 75%;
  }

  .whyfrispes__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .whyfrispes__left-row {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 720px;
            flex: 0 1 720px;
  }

  ._no-webp .news__foto {
    background: url(../img/news/1.png) center/100% no-repeat; }

  .news__foto {
    min-width: 345px;
  }

  .news__foto img {
    max-width: 0%;
  }
}

@media (max-width: 768px) {
  header {
    min-height: 50px;
    padding-bottom: 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px;
  }

  .block-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body {
    display: none;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #FFFFFF;
    padding: 80px 15px 20px 15px;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 2;
    width: 100%;
    background-color: gray;
  }

  .menu__list {
    display: none;
  }

  .menu__inner {
    display: block;
  }

  .menu__item {
    margin-bottom: 20px;
  }

  .menu__link {
    font-size: 23px;
  }

  .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    height: 18px;
    width: 30px;
    margin-left: 20px;
  }

  .icon-menu span {
    position: absolute;
    background-color: black;
    height: 12%;
    width: 100%;
    top: 50%;
    margin: -5% 0px 0px 0px;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .block-content {
    max-width: none;
    padding: 0 10px;
  }

  .intro__title {
    line-height: 48px;
    margin-bottom: 15px;
  }

  .spaces__header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 26px;
  }

  .spaces__title {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .spaces__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 80%;
    margin: 0px auto;
  }

  .spaces__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spaces__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .spaces__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 419px;
            flex: 0 1 419px;
    max-width: 350px;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .spaces__column_mdl {
    min-width: 320px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 383px;
            flex: 0 1 383px;
    margin-bottom: 30px;
  }

  .block-whyfrispes {
    margin-top: -15px;
  }

  .whyfrispes__left {
    padding-top: 0px;
  }
}

@media (max-width: 1130px) {

  ._webp .news__foto { background: url(../img/news/1.webp) center/100% no-repeat; }
}

@media (max-width: 992px) {

  ._webp .news__foto { background: url(../img/news/1.webp) center/100% no-repeat; }
}